.slider_container {
  padding-top: 56px;
}

.section_header {
  display: grid;
  place-items: center;
  margin: 39px 0;

  a.title_box {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;

    .title {
      white-space: pre-line;
      font-size: 63px;
      line-height: 1;
      letter-spacing: 2px;
    }
  }
}

.content_wrapper {
  display: flex; 
  flex-wrap: nowrap; 
  overflow-x: scroll;
  overflow-y: hidden;
}

.content_wrapper::-webkit-scrollbar {
  display: none;
}

.content_card {
  box-sizing: 'border-box';
  // width: '100%'; 
  flex: 1 1 0px;
}

.content_card:not(:first-of-type) {
  margin-left: 20px;
}

.image_outer_frame {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  background-color: #f1ede8;

  .image_inner_frame {
    position: absolute;
    top: 20px;
    left: 20px;
    height: calc(100% - 2 * 20px);
    width: calc(100% - 2 * 20px);
    overflow: hidden;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #f2f2f2;
    cursor: pointer;
  }

  .image_inner_frame:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.lifestyle_content_wrapper {
  display: flex; 
  flex-wrap: nowrap; 
  overflow-x: scroll;

  .image_outer_frame {

    .image_inner_frame {
      top: 30px;
      left: 30px;
      height: calc(100% - 2 * 30px);
      width: calc(100% - 2 * 30px);
    }
  }
}

@media screen and (max-width: 1440px) {
  .section_header {
  
    a.title_box {

      .title {
        font-size: 32px;
        letter-spacing: -1px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section_header {
  
    a.title_box {

      .title {
        font-size: 32px;
        letter-spacing: -1px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slider_container {
    padding-top: 0;
  }

  .section_header {
  
    a.title_box {

      .title {
        font-size: 32px;
      }
    }
  }

  .content_card {
    min-width: 294px;
  }

  .lifestyle_content_wrapper {
    display: flex; 
    flex-direction: column;

    .content_card {
      margin-left: 0;
      margin-bottom: 32px;
    }
  }
}